   
/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
  icbi-lab/crca Nextflow config file
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
*/


// Global default params, used in configs´
params {
  publish_dir_mode = "copy" // Choose between "symlink" - absolute path, "rellink" -relative path, "link " -hard link, "copy"
  }

// Load base.config by default for all pipelines
//includeConfig 'conf/base.config'
//includeConfig 'conf/modules.config'

singularity {
        enabled = true
        runOptions = "--no-home --env NUMBA_CACHE_DIR=/tmp/\$USER/numba_cache_dir"
        autoMounts = true
}

conda {
    useMamba = true
    enabled = true
}

profiles {
    conda {
        withName: LIANA {
            conda = '/home/kvalem/.conda/envs/liana_2024'
            }
    }
    
    standard {
        process.executor = 'local'
    }

    cluster {
        process.executor = 'slurm'
        process.memory = '800 GB'
        process.cores = '2'
        process.queueSize = 600
        process.time='48:00:00' 
        
    }

}

process {

// default container for python
    // container = "/data/scratch/kvalem/container/liana_cell2cell/2024-liana-cell2cell.sif"


// Process-specific resource requirements
  
    withLabel: LIANA {
        //container = "/data/scratch/kvalem/container/liana_cell2cell/2024-liana-cell2cell.sif"
        publishDir = [
            path: { "${params.outdir}/liana/" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
            enabled: false
        ]
        clusterOptions = { '--nodelist=apollo-16' }
        containerOptions = "--nv --no-home"
        cpus = 8 // Forreproducibility need to fix number of cpus
    }


}